<footer class="footer">
  <div class="container">
    <div class="row">
      <hr>
      <div class="col-lg-12">
        <div class="col-md-6">
          <p class="muted pull-right">© 2017 Digital Library Research Laboratory at Virginia Tech</p>
        </div>
        <div class="col-md-6">
          <a href="http://www.ctrnet.net/" target="_blank">About GETAR</a> |
          <a href="http://www.dlib.vt.edu/" target="_blank" title="Digital Library Research Laboratory">DLRL</a> |
          <a href="http://www.ctrnet.net/node/11" target="_blank">Event Archiving</a>
        </div>

      </div>
    </div>
  </div>
</footer>