/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a.home-facet-link {
    display: inline-block;
    width: 90%;
    padding: 2px;
}

#header-navbar .navbar-brand {
    height: 120px;
    width: 480px;
    background: transparent url(/assets/getar-logo.png) no-repeat center left;
}
h3.index_title{
    font-size: 1.4em;
}
h3.index_title .document-counter{
    color: #666666;
}h3.index_title .caret-toggle{
    display:none;
}
#facet-panel-collapse > .panel {

}